﻿/************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. INPUTS
 * 2. LISTS
 * 3. LINKS
 * 4. MENU
 * 5. TABLE
 ***********************************************/

body {
    background-color: #c5c0c0;
    font-family: "Arial", sans-serif;
}

/*1. INPUTS*/
input[type="text"], textarea{
    width: 300px;
}

textarea {
    height: 200px;
}

/*2. LISTS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px
}

/*3. LINKS*/

a {
    text-decoration: none;
    color: #DFB4FF;
    transition: all 0.5s;
}

a:hover {
    color: #e69fa3;
    text-decoration: none;
}


/*4. MENU*/
#navigation_menu {
    width: 100%;
    background-color: #292727;
    padding: 10px;
}

 #navigation_menu a:hover {
    color: white;
}

/*5. TABLE*/
th {
    background-color: #e69fa3;
}

td {
    background-color: white;
    color: #e69fa3;
}

table, th, td {
    border: 1px solid #e69fa3;
    padding: 10px;
}
